.cardList-header {
  text-align: center;
  justify-content: center;
  padding: $space-s 0;
}

.cardList-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 180vh;
  border: 1px solid blue;
  @include card-shadow;  
}

.cardList-error-loading {
  text-align: center;
  padding-top: $space-m;
}

// BREAKPOINTS
// EXTRA SMALL BREAKPOINTS
@media only screen and (min-width : $bp-xs) {
}

// SMALL BREAKPOINTS
@media only screen and (min-width : $bp-sm) {
}


// MEDIUM BREAKPOINTS
@media only screen and (min-width : $bp-md) {
}

// LARGE BREAKPOINTS
@media only screen and (min-width : $bp-lg) {
}
