////////////////////////////////////////////////////////////////////////////////
// HELPERS
////////////////////////////////////////////////////////////////////////////////

.ma-s { margin: $space-s; }
.ma-m { margin: $space-m; }
.ma-l { margin: $space-l; }

.mb-s { margin-bottom: $space-s;}
.mb-m { margin-bottom: $space-m;}
.mb-l { margin-bottom: $space-l;}

.mt-s { margin-top: $space-s; }
.mt-m { margin-top: $space-m; }
.mt-l { margin-top: $space-l; }

.ml-s { margin-left: $space-s; }
.ml-m { margin-left: $space-m; }
.ml-l { margin-left: $space-l; }

.mr-s { margin-right: $space-s; }
.mr-m { margin-right: $space-m; }
.mr-l { margin-right: $space-l; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.hide { display: none !important; }

.fine-print {
  @include font-size-xs;
}
